body{
    text-align: center;
    background-color: #FBE5E5;
}
h1{
    color: blueviolet;
    font-size: 40px;
}
h2{
    color: chartreuse;
    font-size: 30px;
}
ul {
    display: inline-block;
    list-style-type: square;
  }
  ol {
    display: inline-block;
    list-style-type: square;
  }